/aula_1-Conceitos_Basicos/out
/aula_2-Tipos_Primitivos/out
/aula_3-Variaveis_Ponteiros/out
/aula_4-Brincando_com_Ponteiros/out
/aula_5-Arrays/out
/aula_6-Matrizes_Ponteiros/out
/aula_7-Strings/out
/aula_8-Revisao_pratica_sscanf/out
